<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<label>{{_branchName}}  <br/>{{_loggedInUserName}},{{_role}}</label> 

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" style="text-align: center;vertical-align: top;padding-top: 10px;padding-left: 2px;">
  <img src="../../../../Policy/assets/images/profile-image.jpg" alt="user" class="profile-pic" />
</button>
<mat-menu #profile="matMenu" class="mymegamenu"> 
  <button mat-menu-item>
    <mat-icon>account_box</mat-icon> Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon> Sign Out
  </button>
</mat-menu>

