.header-image {
    background-size: cover;
  }

  .mat-form-field+.mat-form-field {
    margin-left: 8px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
  }

  table {
    width: 100%;
  }

  .thick {
    font-weight: bold;
  }

  tr.mat-row,
  tr.mat-footer-row {
    height: 30px !important;
  }

  tr.mat-header-row {
    height: 30px !important;
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.8;   
  }