<mat-card class="mat-elevation-z2">
    <mat-card-header class="card-container" style="display: flow-root">
        <mat-card-title style="width: 50%; float: left;">
            <p>Insurance Company Branch Master</p>
        </mat-card-title>
        <mat-card-title style="width: 10%; float: right;">
            <!--         <p><button  class="btn-block" style="background: cadetblue;" mat-raised-button color="blue" (click)="backToMaster()">Back</button></p> 
 -->
        </mat-card-title>
    </mat-card-header>
    <hr class="hrClass" />
    <mat-card-content>
        <form [formGroup]="insurancebranchform" autocomplete="off" style="padding-bottom:10px ;">
           
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>Insurance Company <span style="color:red">*</span></mat-label>
                </div>
                <div class="col-lg-4">
                    <mat-form-field>
                        <mat-select formControlName="insuranceCompanyId" required >
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let insuranceCompanies of _insuranceCompanies" [value]="insuranceCompanies.Value" >
                                {{insuranceCompanies.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>Primary Branch Name <span style="color:red">*</span></mat-label>

                </div>
                <div class="col-lg-4">
                    <mat-form-field>
                        <input type="text" matInput formControlName="insuranceCompanyBranchName" required />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>Primary Branch Code </mat-label>

                </div>
                <div class="col-lg-4">
                    <mat-form-field>
                        <input type="text" matInput formControlName="insuranceCompanyBranchCode"  />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>Agency Name</mat-label>

                </div>
                <div class="col-lg-4">
                    <mat-form-field>
                        <input type="text" matInput formControlName="agencyName"  />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>Agency Code </mat-label>
                </div>
                <div class="col-lg-4">
                    <mat-form-field>
                        <input type="text" matInput formControlName="agencyCode"  />
                    </mat-form-field>
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-3">

                    <mat-checkbox color="primary" formControlName="isActive">Is Active</mat-checkbox>

                </div>
                <div class="col-lg-1">
                    <button type="button" class="btn-block" mat-raised-button color="primary" (click)="createInsuranceBranch()" [disabled]="!insurancebranchform.valid">
                        <mat-icon style="font-size: 22px;">save</mat-icon>Save
                    </button>
                </div>
                <div class="col-lg-1">
                    <button mat-flat-button color="secondary" [ngStyle]="{'background-color':  '#fdcb7e'}"
                        (click)="reset()">
                        Reset
                    </button>
                </div>
            </div>
        </form>
     <div class="col-lg-12">
            <div class="row" [hidden]="_length == 0">
                <div class="col-lg-12">
                    <table id="tblinusranceBranch" mat-table [dataSource]="_insuranceBranchData" style="width: 100%;">
                        
                        <ng-container matColumnDef="InsuranceCompanyBranchName">
                            <th mat-header-cell *matHeaderCellDef> Branch </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.InsuranceCompanyBranchName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="InsuranceCompanyBranchCode">
                            <th mat-header-cell *matHeaderCellDef>Branch Code </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.InsuranceCompanyBranchCode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="AgencyName">
                            <th mat-header-cell *matHeaderCellDef> Agency Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.AgencyName}}</td>
                        </ng-container>
                        <ng-container matColumnDef="AgencyCode">
                            <th mat-header-cell *matHeaderCellDef> Agency Code</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.AgencyCode}}</td>
                        </ng-container>
                        <ng-container matColumnDef="IsActive">
                            <th mat-header-cell *matHeaderCellDef>IsActive</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.IsActive}}</td>
                        </ng-container>
                        

                        <ng-container matColumnDef="Modify">
                            <th mat-header-cell *matHeaderCellDef>Modify</th>
                            <td mat-cell *matCellDef="let row; let i = index" [ngStyle]="{'text-align':'end'}">
                                <div class="row">
                                   
                                    <div class="col-lg-1">

                                        <button mat-icon-button (click)="editInusranceBranch(row)">
                                            <mat-icon color="warn" style="font-size: 20px;">edit</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [length]="_length" [pageSize]="_pageSize" (page)="pageChanged($event)"></mat-paginator>
            </div>
            <div class="row" [hidden]="_length != 0">
                <div class="col-lg-12" style="text-align: center; color: red;">
                    No records found
                </div>
            </div>
        </div>
    </mat-card-content>