<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataContext" connectionString="metadata=res://*/EntityFramework.PolicyManagement.csdl|res://*/EntityFramework.PolicyManagement.ssdl|res://*/EntityFramework.PolicyManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=PolicyManagerQA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>