<mat-card class="mat-elevation-z2">
  <mat-card-header class="card-container" style="display: flow-root">
    <mat-card-title style="width: 50%; float: left;">
      <p>Commission Slab</p>
    </mat-card-title>
    <mat-card-title style="width: 10%; float: right;">
      <!--         <p><button  class="btn-block" style="background: cadetblue;" mat-raised-button color="blue" (click)="backToMaster()">Back</button></p> 
 -->
    </mat-card-title>
  </mat-card-header>
  <hr class="hrClass" />
  <mat-card-content>
    <form [formGroup]="commisionslab" autocomplete="off">
      <hr style="margin-top: 0px;" />
      <div class="row">
        <div class="col-lg-12">
          <mat-radio-group formControlName="verticalClassId" (change)="onRadioChange($event)">
            <div class="row">

              <div class="col-lg-2">
                <mat-radio-button [value]="1" color="primary" [checked]="true">
                  Motor
                </mat-radio-button>
              </div>
              <div class="col-lg-2">
                <mat-radio-button [value]="2" color="primary">
                  Retail & Commercial
                </mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">

          <ng-select [items]="_insuranceCompanies" formControlName="insuranceCompanyId" [multiple]="true"
            placeholder="Insurance Company *" bindLabel="Name" bindValue="Value" dropdownPosition="bottom"
            [hideSelected]="true" aria-required="">
          </ng-select>
        </div>
      </div>
      <div *ngIf="isMotor">

        <div class="row">
          <div class="col-lg-6">
            <ng-select [items]="_vehicleClass" formControlName="vehicleClassTypeId" [multiple]="true"
              placeholder="Vehicle Class" bindLabel="Name" bindValue="Value" dropdownPosition="bottom"
              [hideSelected]="true">
            </ng-select>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-6">

            <ng-select [items]="_policyTypes" formControlName="policyType" [multiple]="true" placeholder="Policy Type"
              bindLabel="Name" bindValue="Value" dropdownPosition="bottom" [hideSelected]="true">
            </ng-select>
          </div>
          <div class="col-lg-6">

            <ng-select [items]="_packageTypes" formControlName="packageType" [multiple]="true"
              placeholder="Package Type" bindLabel="Name" bindValue="Value" dropdownPosition="bottom"
              [hideSelected]="true">
            </ng-select>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-6">
            <mat-form-field>
              <mat-label>Special Discount Slab
              </mat-label>
              <input matInput formControlName="spldiscountslab" type="number" max="100" required>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-form-field>
              <mat-label>Special Discount Slab Up To<!-- <span style="color:red">*</span> -->
              </mat-label>
              <input matInput type="number" formControlName="spldiscountslabupto" max="100" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <ng-select [items]="_manufacturers" formControlName="manufacturerId" [multiple]="true"
              placeholder="Manufacture" bindLabel="Name" bindValue="Value" dropdownPosition="bottom"
              [hideSelected]="true" (add)="getModels()">
            </ng-select>
          </div>
          <div class="col-lg-6">
            <ng-select [items]="_model" formControlName="modelId" [multiple]="true" placeholder="Model" bindLabel="Name"
              bindValue="Value" dropdownPosition="bottom" [hideSelected]="true">
            </ng-select>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-6">
            <mat-form-field>
              <mat-label>Ex Showroom Start</mat-label>
              <input matInput formControlName="exShowroomStart">
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-form-field>
              <mat-label>Ex Showroom Up to</mat-label>
              <input matInput formControlName="exShowroomUpTo">
            </mat-form-field>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-6">

            <ng-select [items]="_fuelType" formControlName="fuelTypeId" [multiple]="true" placeholder="Fuel Type"
              bindLabel="Name" bindValue="Value" dropdownPosition="bottom" [hideSelected]="true">
            </ng-select>
          </div>
          <div class="col-lg-6">

            <ng-select [items]="_ncbs" formControlName="ncb" [multiple]="true" placeholder="NCB %" bindLabel="Name"
              bindValue="Value" dropdownPosition="bottom" [hideSelected]="true">
            </ng-select>
          </div>
        </div>
      </div>
      <div *ngIf="!isMotor">
        <div class="row">
          <div class="col-lg-6">

            <ng-select [items]="_verticals" formControlName="verticalId" [multiple]="false" placeholder="Verticals"
              bindLabel="VerticalName" bindValue="VerticalId" dropdownPosition="bottom" [hideSelected]="true" aria-required="">
            </ng-select>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-6">

            <ng-select [items]="_policyTypes" formControlName="policyType" [multiple]="true" placeholder="Policy Type"
              bindLabel="Name" bindValue="Value" dropdownPosition="bottom" [hideSelected]="true">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">

            <ng-select [items]="_products" formControlName="productId" [multiple]="true" placeholder="Product"
              bindLabel="Name" bindValue="Value" dropdownPosition="bottom" [hideSelected]="true" aria-required="">
            </ng-select>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-lg-2">
          <ng-select [items]="_commisonSlabType" formControlName="volumeCriteria" [multiple]="false"
            placeholder="Volume Criteria *" bindLabel="Name" bindValue="Value" dropdownPosition="bottom"
            [hideSelected]="true">
          </ng-select>
        </div>
        <div class="col-lg-2">
          <ng-select [items]="_commisonSlabTurnOverRation" formControlName="turnOverRatio" [multiple]="false"
            placeholder="TurnOver Ratio *" bindLabel="Name" bindValue="Value" dropdownPosition="bottom"
            [hideSelected]="true">
          </ng-select>
        </div>
        <div class="col-lg-2">
          <mat-form-field>
            <mat-label>Slab Start (Rs)
            </mat-label>
            <input matInput formControlName="slabStartRs" required>
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <mat-form-field>
            <mat-label>Slab Up To (Rs)</mat-label>
            <input matInput formControlName="slabUptoRs" required>
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <mat-form-field>
            <mat-label>Commission Applicable</mat-label>
            <input matInput formControlName="commapplicable" appTwoDigitDecimaNumber required>
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <button mat-flat-button color="secondary" [ngStyle]="{'background-color':  '#fdcb7e'}"
            (click)="addcommision()" type="submit" [disabled]="!commisionslab.valid">
            {{ isUpdate ? 'Update' : 'Add'}}
          </button>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-2">
          <button type="button" class="btn-block" mat-raised-button color="primary" [disabled]="rows.length  == 0 || isUpdate "
            (click)="submit()">
            <mat-icon style="font-size: 22px;">save</mat-icon>Save
          </button>
        </div>
        <div class="col-lg-2">
          <button mat-flat-button color="secondary" [ngStyle]="{'background-color':  '#fdcb7e'}" (click)="reset()">
            Reset
          </button>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <ngx-datatable [rows]="rows" [loadingIndicator]="loadingIndicator" class='bootstrap material'
            [columnMode]="ColumnMode.standard" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="20"
            [scrollbarV]="true" [scrollbarH]="true" [reorderable]="true" style="height: 500px;" [columns]="columns"
            (activate)="onActivate($event)">
          </ngx-datatable>
        </div>
      </div>
    </form>
  </mat-card-content>