/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

 @import 'variable';

 @import 'spinner';
 @import 'app';
 @import 'header';
 @import 'pages';
 @import 'sidebar';
 @import 'responsive';

 .cursor-loader {
    background-color: rgba(0,0,0,0.7);
    position: absolute; 
    top:0;
    left:0;
    width: 100%;
    min-height:805px;

  }
 