<mat-card class="mat-elevation-z2">
    <mat-card-header class="card-container" style="display: flow-root">
        <mat-card-title style="width: 50%; float: left;">
            <p>Manage User Role</p>
        </mat-card-title>

    </mat-card-header>
    <hr class="hrClass" />
    <mat-card-content>
        <div class="row">
            <div class="col-lg-2">
                <mat-label>Role Name <span style="color:red">*</span></mat-label>
            </div>

            <div class="col-lg-4">
                <mat-form-field>
                    <mat-select  [(ngModel)]="_userRoleId">
                        <mat-option>Select</mat-option>
                        <mat-option *ngFor="let userRole of _userRole" [value]="userRole.Value">{{userRole.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn-block" mat-raised-button color="primary" (click)="createUserRights()" >
                    <mat-icon style="font-size: 22px;">save</mat-icon>Save
                </button>
            </div>
            <div class="col-lg-1">
                <button mat-flat-button color="secondary" [ngStyle]="{'background-color':  '#fdcb7e'}"
                    >
                    Reset
                </button>
            </div>
        </div>
       
        <div class="row">
            <table class="table" border="1px" *ngIf="_formLists && _formLists.length>0 && _userRoleId">
                <thead>
                    <th>Sr. No</th>
                    <th>Menu Name</th>
                    <th>Rights (V)</th>
                    
                </thead>
                <tr *ngFor="let formList of _formLists">
                    <td>{{formList.FormId}}</td>
                    <td>{{formList.FormName}}</td>
                    
                    <td>
                        <mat-checkbox color="primary" (change)="onSelectionChanged($event, formList)"  ></mat-checkbox>
                    </td>
                   

                </tr>


            </table>
        </div>
        
        <!-- <table mat-table [dataSource]="renderPermissions(permissions, 0)" *ngIf="permissions?.length>0" >
            <ng-container matColumnDef="name" >
              <th mat-header-cell *matHeaderCellDef>Permission</th>
              <td mat-cell *matCellDef="let permission"  [ngClass]="{'parent-column': permission.children.length > 0, 'child-column': permission.children.length === 0}"
              > 
              
                <span class="toggle-icon" *ngIf="permission.children && permission.children.length > 0" (click)="toggleChildVisibility(permission)">
                    <mat-icon>{{ permission.showChildren ? 'expand_less' : 'expand_more' }}</mat-icon>
                  </span>
                {{ permission.name }}
              </td>
            </ng-container>
          
            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let permission">
                <mat-checkbox></mat-checkbox>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          </table> -->


          <table mat-table [dataSource]="renderPermissions(permissions, 0)" *ngIf="permissions?.length > 0">
            <!-- Permission Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Permission</th>
              <td mat-cell *matCellDef="let permission" [ngClass]="{
                'parent-column': permission.children && permission.children.length > 0,
                'child-column': !permission.children || permission.children.length === 0
              }">
                <span class="toggle-icon" *ngIf="permission.children && permission.children.length > 0" (click)="toggleChildVisibility(permission)">
                  <mat-icon>{{ permission.showChildren ? 'remove' : 'add' }}</mat-icon>
                </span>
                {{ permission.name }}
              </td>
            </ng-container>
          
            <!-- Checkbox Column -->
            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let permission" >
                <mat-checkbox [(ngModel)]="permission.checkedid" (change)="toggleChildCheck($event,permission)"></mat-checkbox>
              </td>
            </ng-container>
          
            <!-- Table Rows -->
            <ng-container *ngTemplateOutlet="recursiveRow; context: { rows: permissions, level: 0 }"></ng-container>
            <!-- ... Existing code ... -->

<!-- Table Rows -->
<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

          </table>
          
          <ng-template #recursiveRow let-rows let-level="level">
            <ng-container *ngFor="let row of rows">
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [ngClass]="{'parent-row': level === 0, 'child-row': level > 0}"></tr>
          
              <!-- Recursive Child Rows -->
              <ng-container *ngIf="row.children && row.children.length > 0 && row.showChildren">
                <ng-container *ngTemplateOutlet="recursiveRow; context: { rows: row.children, level: level + 1 }"></ng-container>
              </ng-container>
            </ng-container>
          </ng-template>
          
          
          
          
          
          
    </mat-card-content>
</mat-card>