table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
  }
  
  th {
    text-align: left;
  }
  
  td.mat-cell {
    padding-left: 16px;
  }
  
  .toggle-icon {
    cursor: pointer;
  }



/* CSS for left alignment */
.parent-column, .child-column {
  text-align: left;
}
/* CSS for parent rows */
.parent-column {
  background-color: #f5f5f5; /* Light gray background */
}

/* CSS for child rows */
.child-column {
  background-color: #f8f8f8; /* Slightly lighter gray background */
}

/* CSS for indentation */
.child-column {
  padding-left: 20px; /* Add left padding for indentation */
}

/* CSS for border */
.parent-column, .child-column {
  border-bottom: 1px solid #ccc; /* Add a bottom border */
}

/* CSS for font-weight */
.parent-column {
  font-weight: bold; /* Make parent rows bold */
}






  