tr.mat-row,
tr.mat-footer-row {
    height: 30px !important;
}

tr.mat-header-row {
    height: 30px !important;
}

.mat-card-header {
    display: flex;
    flex-direction: column !important;
}

.active-badge {
    background-color: #16a085;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
}

.cancel-badge {
    background-color: #eb4d4b;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
}

.bounced-badge {
    background-color: #2ecc71;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
}

.secondary-badge {
    background-color: #eeeeee;
    color: #343a40;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
}

.info-badge {
    background-color: #e67e22;
    color: #ffffff;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
}