<mat-card class="mat-elevation-z2">
    <mat-card-header>
        <mat-card-title>Search Policy (Claims)</mat-card-title>
    </mat-card-header>
    <hr class="hrClass" />
    <mat-card-content>
        <form [formGroup]="claimsForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label>Control Number</mat-label>
                        <input type="text" matInput formControlName="controlNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Vertical </mat-label>
                        <mat-select formControlName="vertical" (selectionChange)="getProducts($event.value)">
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let vertical of _verticals" [value]="vertical.VerticalId">
                                {{vertical.VerticalName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Product </mat-label>
                        <mat-select formControlName="product">
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let product of _products" [value]="product.Value">{{product.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Registration Number</mat-label>
                        <input type="text" matInput formControlName="registrationNumber"
                            placeholder="Registration Number">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Policy Number</mat-label>
                        <input type="text" matInput formControlName="policyNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input type="text" placeholder="Manufacture" aria-label="Manufacture" matInput
                            formControlName="manufacturer" [matAutocomplete]="autoManufacture">
                        <mat-autocomplete autoActiveFirstOption #autoManufacture="matAutocomplete"
                            [displayWith]="displayFn" (optionSelected)='getModels($event.option.value.Value)'>
                            <mat-option *ngFor="let manufacture of _filteredManufacturers" [value]="manufacture">
                                {{manufacture.Name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Model </mat-label>
                        <mat-select formControlName="model">
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let model of _models" [value]="model.Value">{{model.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Customer</mat-label>
                        <input type="text" matInput placeholder="Customer" formControlName="customerName">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Customer Phone</mat-label>
                        <input type="text" matInput placeholder="Customer Phone" formControlName="customerPhone">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field> 
                        <input type="text" placeholder="Insurance Company" aria-label="Insurance Company" matInput
                            formControlName="insuranceCompanyId" [matAutocomplete]="autoInsuranceCompany">
                        <mat-autocomplete autoActiveFirstOption #autoInsuranceCompany="matAutocomplete"
                            [displayWith]="displayFn">
                            <mat-option *ngFor="let insuranceCompany of _filteredInsuranceCompaniesOptions"
                                [value]="insuranceCompany">
                                {{insuranceCompany.Name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input type="text" placeholder="POS" aria-label="POS" matInput formControlName="posId"
                            [matAutocomplete]="autoPos">
                        <mat-autocomplete autoActiveFirstOption #autoPos="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let pos of _filteredPosOptions" [value]="pos">
                                {{pos.Name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="align-items: center;">
                <div class="col-lg-2">
                    <label> Policy Start From Date</label>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="policyStartFromDatePicker"
                            formControlName="policyStartFromDate">
                        <mat-datepicker-toggle matSuffix [for]="policyStartFromDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #policyStartFromDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <label>Policy Start To Date</label>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="policyStartToDatePicker" formControlName="policyStartToDate">
                        <mat-datepicker-toggle matSuffix [for]="policyStartToDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #policyStartToDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-12">
                    <mat-checkbox color="primary" formControlName="hasExpiredData">Expired in last 60 days
                    </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <button type="button" class="btn-block" mat-raised-button color="warn" (click)="onClose()">
                        <mat-icon style="font-size: 22px;">close</mat-icon> Close
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn-block" mat-raised-button color="accent" (click)="onReset()">
                        <mat-icon style="font-size: 22px;">refresh</mat-icon> Reset
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn-block" mat-raised-button color="primary">
                        <mat-icon style="font-size: 22px;">search</mat-icon> Search
                    </button>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </form>

        <div class="row" style="height: 450px; overflow-y: scroll;" *ngIf="_policyDatas.length > 0">
            <div class="col-lg-12">
                <table mat-table [dataSource]="_policyDatas" style="width: 100%; margin-top: 15px;">
                    <ng-container matColumnDef="controlNumber">
                        <th mat-header-cell *matHeaderCellDef> Control Number </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.ControlNumber}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef>Customer</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Customer}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="policyExpiry">
                        <th mat-header-cell *matHeaderCellDef>Policy Expiry </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.PolicyExpiryString}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="insuranceCompany">
                        <th mat-header-cell *matHeaderCellDef>Insurance Company</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.InsuranceCompany}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="registrationNumber">
                        <th mat-header-cell *matHeaderCellDef> Registration Number </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.RegistrationNumber}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef> Model </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Model}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="vertical">
                        <th mat-header-cell *matHeaderCellDef> Vertical </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Vertical}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef> Product </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Product}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="pos">
                        <th mat-header-cell *matHeaderCellDef>POS </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Pos}}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="'handOnHover'"
                        (click)="navigate(row);"></tr>
                </table>
            </div>
        </div>

    </mat-card-content>
</mat-card>