<mat-card class="mat-elevation-z2">
    <mat-card-header class="card-container" style="display: flow-root">
        <mat-card-title style="width: 50%; float: left;">
            <p>RTO Zone Master</p>
        </mat-card-title>
        <mat-card-title style="width: 10%; float: right;">
      
        </mat-card-title>
    </mat-card-header>
    <hr class="hrClass" />
    <mat-card-content>
        <form [formGroup]="rtozoneform" autocomplete="off" style="padding-bottom:10px ;">
           
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>State</mat-label>
                </div>
                <div class="col-lg-4">
                    <mat-form-field>
                        <mat-select formControlName="State"  >
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let state of _state" [value]="state.Value" >
                                {{state.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>RTO Zone Code <span style="color:red">*</span></mat-label>

                </div>
                <div class="col-lg-4">
                    <mat-form-field>
                        <input type="text" matInput formControlName="RTOZoneCode"  />
                    </mat-form-field>
                </div>
            </div>

           
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>RTO Zone Name <span style="color:red">*</span></mat-label>

                </div>
                <div class="col-lg-4">
                    <mat-form-field>
                        <input type="text" matInput formControlName="RTOZoneName"  />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <mat-label>Risk Zone <span style="color:red">*</span></mat-label>

                </div>
                <div class="col-lg-4">
                    <mat-radio-group formControlName="RiskZone" >
                        <div class="row">
                         
                          <div class="col-lg-2">
                            <mat-radio-button [value]="'A'" color="primary" >
                              Zone A
                            </mat-radio-button>
                          </div>
                          <div class="col-lg-2">
                            <mat-radio-button [value]="'B'" color="primary">
                             Zone B
                            </mat-radio-button>
                          </div>
                         
                        </div>
                      </mat-radio-group>
                </div>
            </div>
          
           
            <div class="row">
                <div class="col-lg-3">

                    <mat-checkbox color="primary" formControlName="IsActive">Is Active</mat-checkbox>

                </div>
                <div class="col-lg-1">
                    <button type="button" class="btn-block" mat-raised-button color="primary" (click)="create()" [disabled]="!rtozoneform.valid">
                        <mat-icon style="font-size: 22px;">save</mat-icon>Save
                    </button>
                </div>
                <div class="col-lg-1">
                    <button mat-flat-button color="secondary" [ngStyle]="{'background-color':  '#fdcb7e'}"
                        (click)="reset()">
                        Reset
                    </button>
                </div>
            </div>
        </form>
     <div class="col-lg-12">
            <div class="row" [hidden]="_length == 0">
                <div class="col-lg-4">
                    <mat-form-field>
                      <mat-label>Filter</mat-label>
                      <input matInput (keyup)="iFilter($event)" placeholder="Search" #input>
                    </mat-form-field>
                  </div>
                <div class="col-lg-12">
                    <table id="tblrto" mat-table [dataSource]="_rtozoneData" style="width: 100%;">
                        
                        <ng-container matColumnDef="RTOZoneCode">
                            <th mat-header-cell *matHeaderCellDef> RTO Zone Code </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RTOZoneCode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="RTOZoneName">
                            <th mat-header-cell *matHeaderCellDef>RTO Zone Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RTOZoneName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="RiskZone">
                            <th mat-header-cell *matHeaderCellDef> Risk Zone</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.RiskZone}} </td>
                        </ng-container>
                        <ng-container matColumnDef="State">
                            <th mat-header-cell *matHeaderCellDef> State</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.StateName}} </td>
                        </ng-container>
                       
                        <ng-container matColumnDef="IsActive">
                            <th mat-header-cell *matHeaderCellDef>IsActive</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.IsActive}}</td>
                        </ng-container>
                        

                        <ng-container matColumnDef="Modify">
                            <th mat-header-cell *matHeaderCellDef>Modify</th>
                            <td mat-cell *matCellDef="let row; let i = index" [ngStyle]="{'text-align':'end'}">
                                <div class="row">
                                   
                                    <div class="col-lg-1">

                                        <button mat-icon-button (click)="edit(row)">
                                            <mat-icon color="warn" style="font-size: 20px;">edit</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [length]="_length" [pageSize]="_pageSize" (page)="pageChanged($event)"></mat-paginator>
            </div>
            <div class="row" [hidden]="_length != 0">
                <div class="col-lg-12" style="text-align: center; color: red;">
                    No records found
                </div>
            </div>
        </div>
    </mat-card-content>