.example-card {
    max-width: 4000px;
  }
  
  .example-header-image {
    background-image: url('../../../../../assets/images/motor.png');
    background-size: cover;
    /*https://material.angular.io/assets/img/examples/shiba1.jpg*/
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-form {
    min-width: 150px; 
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  table {
    width: 100%;
  }

  .swal2-popup {
    width: 70em !important;
}